@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$primary-color: #FBDCA3;
$primary-color2: #F3AD55;
$secondary-color: #624CE0;
$text-color: white;
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
ul{
 list-style-type: none;
}
a{
 color: white;
 text-decoration: none;
}
::placeholder{
 text-transform: capitalize;
 color: #8d7373;
 font-size: 1.8rem;
}
input{
 border: none;
 outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
 display: none;
}