@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$primary-color: #FBDCA3;
$primary-color3: #F3AD55;
$secondary-color: #624CE0;
$text-color: white;
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
ul{
 list-style-type: none;
}
a{
 color: white;
 text-decoration: none;
}