@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

::-webkit-input-placeholder {
  text-transform: capitalize;
  color: #8d7373;
  font-size: 1.8rem;
}

:-ms-input-placeholder {
  text-transform: capitalize;
  color: #8d7373;
  font-size: 1.8rem;
}

::-ms-input-placeholder {
  text-transform: capitalize;
  color: #8d7373;
  font-size: 1.8rem;
}

::placeholder {
  text-transform: capitalize;
  color: #8d7373;
  font-size: 1.8rem;
}

input {
  border: none;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

::-moz-selection {
  background: black;
  color: white;
  opacity: 0.9;
}

::selection {
  background: black;
  color: white;
  opacity: 0.9;
}

section {
  height: 480px;
}

.main-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../images/dog-bg.jpg") no-repeat center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-container .search {
  position: relative;
  top: -80px;
  left: 20px;
  width: 44%;
  padding: 8px 18px;
  font-size: 1.8rem;
  background: rgba(255, 255, 255, 0.7);
}

.attr-heading {
  position: relative;
  left: 20px;
  width: 50%;
}

.attr-heading h2 {
  width: 100%;
  color: white;
  font-weight: 900;
  font-size: 4.5rem;
  letter-spacing: 1px;
  text-shadow: 2px 2px 1px black;
}

.background-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  height: 100%;
  -webkit-backdrop-filter: blur(2px) hue-rotate(25deg);
          backdrop-filter: blur(2px) hue-rotate(25deg);
}

.btn-search {
  position: relative;
  top: -60px;
  left: 20px;
  margin-top: 20px;
  width: 180px;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 15px;
  background: #624CE0;
  padding: 10px 20px;
}

@media screen and (max-width: 750px) {
  .attr-heading h2 {
    font-size: 4rem;
  }
  .btn-search {
    width: 160px;
    top: -80px;
  }
}

@media screen and (max-width: 560px) {
  .main-container {
    background: url("../images/dog-bg-med.jpg") no-repeat center center;
    background-size: 100% 90vh;
  }
  .attr-heading {
    width: 60%;
  }
  .attr-heading h2 {
    font-size: 3.6rem;
  }
  section {
    min-height: 100vh;
  }
}

@media screen and (max-width: 480px) {
  .main-container {
    background: url("../images/dog-bg-sm.jpg") no-repeat center center;
    background-size: 100% 90vh;
  }
  .attr-heading {
    width: 80%;
  }
  .attr-heading {
    width: 90%;
  }
}

.main-bg {
  position: relative;
  height: 100%;
  width: 100%;
  background: #FBDCA3;
}

.container {
  width: 100%;
  height: 100%;
  background: #FBDCA3;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 160px;
}

.input-main {
  position: relative;
  left: 20px;
  width: 100%;
}

.input-main .search-breedimage {
  font-size: 1.8rem;
  width: 80%;
  padding: 10px 20px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.suggestions {
  overflow: hidden;
  overflow-y: scroll;
  width: 80%;
  height: 200px;
  text-align: center;
  position: absolute;
  top: 50px;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  background: #F3AD55;
  gap: 5px 5px;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  z-index: 5;
  color: black;
  font-weight: bold;
  display: none;
}

.suggestions li {
  cursor: pointer;
  -webkit-backdrop-filter: hue-rotate(60deg);
          backdrop-filter: hue-rotate(60deg);
  padding: 10px 20px;
}

.suggestions li:hover {
  -webkit-backdrop-filter: hue-rotate(30deg);
          backdrop-filter: hue-rotate(30deg);
}

.show-sugg {
  display: -ms-grid;
  display: grid;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

select {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  outline: none;
}

.select-opt {
  position: relative;
  right: 60px;
  width: 30%;
  height: 35px;
  padding: 0 10px;
  font-size: 1.8rem;
  border: none;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.select-opt option {
  padding: 10px 20px;
}

.dropdown-icon {
  position: absolute;
  top: 62px;
  right: 60px;
  width: 60px;
  height: 36px;
  z-index: 20;
  background: black;
  text-align: center;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  pointer-events: none;
}

.dropdown-icon:hover {
  background: rgba(0, 0, 0, 0.85);
}

.gg-arrow-down-o {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid;
  -webkit-transform: scale(var(--ggs, 1));
          transform: scale(var(--ggs, 1));
  border-radius: 20px;
}

.gg-arrow-down-o::after,
.gg-arrow-down-o::before {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  bottom: 4px;
}

.gg-arrow-down-o::after {
  width: 6px;
  height: 6px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 6px;
}

.gg-arrow-down-o::before {
  width: 2px;
  height: 10px;
  left: 8px;
  background: currentColor;
}

.images-cont {
  position: absolute;
  top: 150px;
  left: 20px;
  width: 98%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heading {
  width: 80%;
}

.heading h2 {
  text-transform: capitalize;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.img-box .filter {
  position: relative;
  width: 450px;
  margin: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.img-box .filter img {
  width: 100%;
  height: 100%;
}

.img-box .filter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.img-box .filter:hover::before {
  content: attr(data-name);
  background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
}

.img-download {
  position: absolute;
  top: 0;
  left: 0;
  color: black;
}

.Not-Found {
  position: relative;
  color: black;
}

.Not-Found::before {
  content: "Note:Gif images cannot be found with Breed Name";
  font-size: 1rem;
  position: absolute;
  top: 40px;
  left: 20px;
}

.Not-Found::after {
  content: "Check your internet connection";
  font-size: 1rem;
  position: absolute;
  top: 56px;
  left: 20px;
}

@media screen and (max-width: 980px) {
  .select-opt {
    width: 45%;
    right: 40px;
  }
  .dropdown-icon {
    right: 40px;
  }
}

@media screen and (max-width: 728px) {
  .input-main .search-breedimage {
    width: 85%;
  }
  .dropdown-icon {
    right: 30px;
    width: 46px;
  }
  .input-main .search-breedimage {
    width: 85%;
  }
  .select-opt {
    width: 35px;
    padding: 0 8px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .dropdown-icon {
    right: 30px;
    width: 46px;
  }
  .select-opt:hover {
    width: 45%;
  }
}

@media screen and (max-width: 680px) {
  .select-opt:hover {
    width: 55%;
  }
}

@media screen and (max-width: 599px) {
  .input-main .search-breedimage {
    width: 75%;
  }
  .input-main ::-webkit-input-placeholder {
    font-size: 1.6rem;
  }
  .input-main :-ms-input-placeholder {
    font-size: 1.6rem;
  }
  .input-main ::-ms-input-placeholder {
    font-size: 1.6rem;
  }
  .input-main ::placeholder {
    font-size: 1.6rem;
  }
  .select-opt:hover {
    width: 65%;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 545px) {
  .select-opt:hover {
    width: 75%;
  }
}

@media screen and (max-width: 515px) {
  .input-main .search-breedimage {
    width: 70%;
  }
  .select-opt:hover {
    width: 75%;
  }
  .img-box {
    width: 90%;
  }
}

@media screen and (max-width: 430px) {
  .input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .input-main {
    top: 30px;
  }
  .input-main .search-breedimage {
    width: 90%;
  }
  .select-opt {
    left: 0px;
    width: 90%;
  }
  .select-opt:hover {
    width: 90%;
    font-size: 1.8rem;
  }
  .dropdown-icon {
    top: 102px;
    right: 5%;
  }
}

section {
  overflow-y: auto;
  background: #FBDCA3;
}

.search-inputs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 200px;
}

.search-breed {
  font-size: 1.8rem;
  width: 80%;
  padding: 10px 20px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.filter-btn {
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  border: none;
  outline: none;
  background: white;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.filter-btn img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.suggestions-oneline {
  position: relative;
  left: 20px;
  top: -40px;
  width: 100%;
  margin-right: 20px;
  overflow-x: auto;
}

.suggestions-oneline ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.suggestions-oneline ul li {
  padding: 5px 15px;
  border-right: 2px solid white;
  cursor: pointer;
}

.cards-container {
  position: relative;
  top: -350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 0;
}

.card {
  position: relative;
  width: 400px;
  height: 300px;
  margin: 90px 50px;
  border-radius: 10px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.card .img-cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card .img-cont img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card:hover {
  -webkit-box-shadow: 0 50px 80px rgba(0, 0, 0, 0.3);
          box-shadow: 0 50px 80px rgba(0, 0, 0, 0.3);
}

.information {
  position: absolute;
  top: 30%;
  left: 50px;
  right: 50px;
  background: white;
  color: black;
  -webkit-transform: translateZ(20px) scale(0);
          transform: translateZ(20px) scale(0);
  padding: 40px 25px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.information h2 {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.information h4, .information p {
  font-size: 1.5re;
}

.card:hover .information {
  -webkit-transform: translateZ(30px) scale(1);
          transform: translateZ(30px) scale(1);
}

.catg-name {
  font-family: monospace,sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.5);
}

.special {
  font-weight: bold;
  font-size: 1.5rem;
}

@media screen and (max-width: 500px) {
  .cards-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: -20px;
  }
  .card {
    width: 85%;
  }
}

.position {
  position: relative;
  top: 40px;
  left: 20px;
}

.para {
  position: absolute;
  top: 100px;
  left: 20px;
  margin: 0 50px;
  font-size: 3.4rem;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  color: black;
}

.para a {
  color: rgba(34, 32, 32, 0.8);
}

.para a:hover {
  color: black;
}

html {
  font-size: 62.5%;
}

body {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #624CE0;
}

.navbar {
  position: relative;
  height: 100%;
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}

.navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
  text-transform: uppercase;
}

.navlinks li {
  font-weight: bold;
  cursor: pointer;
  padding: 15px 20px;
}

.navlinks li a {
  padding: 15px 20px;
  pointer-events: fill;
}

.navlinks .active {
  background: #F3AD55;
}

#hamburger {
  display: none;
}

section {
  position: absolute;
  top: 54px;
  left: 0;
  width: 100%;
  min-height: auto;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 51px;
  width: 100%;
}

.footer-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #624CE0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.github {
  margin: 0 10px;
}

.myname a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 3px solid white;
  padding: 0 10px;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 55%;
  }
  .navlinks {
    margin-right: 10px;
    font-size: 1.8rem;
  }
  .navlinks li {
    padding: 20px 25px;
  }
  .navlinks a {
    padding: 20px 25px;
  }
}

@media screen and (max-width: 850px) {
  .main-name h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
  }
  .navlinks {
    margin-right: 10px;
    font-size: 1.8rem;
    height: 80px;
  }
  .navlinks li {
    padding: 25px 15px;
    margin-top: -10px;
  }
  .navlinks li a {
    padding: 25px 15px;
  }
  section {
    height: 90vh;
  }
}

@media screen and (max-width: 750px) {
  header {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  header.on {
    height: 100vh;
    z-index: 100;
  }
  .navbar {
    display: initial;
  }
  #hamburger {
    display: block;
    width: 26px;
    height: 18px;
    position: absolute;
    top: 23px;
    right: 30px;
  }
  .hamburger {
    width: 26px;
    height: 4px;
    background: white;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    cursor: pointer;
  }
  .hamburger::before {
    content: '';
    position: absolute;
    top: 7px;
    width: 26px;
    height: 4px;
    background: white;
  }
  .hamburger::after {
    content: '';
    position: absolute;
    top: 14px;
    width: 26px;
    height: 4px;
    background: white;
  }
  .hamburger.toggle {
    width: 26px;
    height: 4px;
    background: white;
    -webkit-transform: rotate(45deg) translate(5px, 6px);
            transform: rotate(45deg) translate(5px, 6px);
  }
  .hamburger.toggle::before {
    opacity: 0;
  }
  .hamburger.toggle::after {
    -webkit-transform: rotate(-90deg) translate(14px, 0px);
            transform: rotate(-90deg) translate(14px, 0px);
  }
  .main-name h1 {
    margin-top: 20px;
  }
  .navlinks {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navlinks li {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 52%;
  }
}

@media screen and (max-width: 420px) {
  html {
    font-size: 48%;
  }
}

@-webkit-keyframes transisin {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes transisin {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=style.css.map */