@import './config';
@import './home';
@import './images';
@import './breeds';
@import './about';
html{
  font-size: 62.5%;
 }
 body{
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
 }
 header{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background: $secondary-color; 
 }
 .navbar{
   position: relative;
   height: 100%;
   width: 98%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 20px;
 }
 .navlinks{
   display: flex;
   margin-right: 40px;
   text-transform: uppercase;
   li{
     font-weight: bold;
     cursor: pointer;
     padding: 15px 20px;
     a{
      padding: 15px 20px;
      pointer-events: fill;
     }
   }
   .active{
    background: $primary-color2;
  }
 }
 #hamburger{
   display: none;
 }
 section{
   position: absolute;
   top: 54px;
   left: 0;
   width: 100%;
   min-height: auto;
 }
 footer{
   position: fixed;
   bottom: 0;
   left: 0;
   height: 51px;
   width: 100%;
 }
 .footer-container {
   position: relative;
   width: 100%;
   height: 100%;
   background: $secondary-color;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .github{
   margin: 0 10px;
 }
 .myname a{
   display: flex;
   justify-content: center;
   align-items: center;
   border-right: 3px solid white;
   padding: 0 10px;
 }
 @media screen and (max-width: 900px){
   html{
     font-size: 55%;
   }
   .navlinks{
   margin-right: 10px;
   font-size: 1.8rem;
     li{
       padding: 20px 25px;
     }
     a{
       padding: 20px 25px;
     }
   }
 }
 @media screen and (max-width: 850px){
  .main-name h1{
    margin-bottom: 20px;
    font-size: 2.5rem;
  }
  .navlinks{
    margin-right: 10px;
    font-size: 1.8rem;
    height: 80px;
      li{
        padding: 25px 15px;
        margin-top: -10px;
      a{
        padding: 25px 15px;
      }
    }
  }
    section{
      height: 90vh;
    }
 }
 @media screen and (max-width: 750px){
   header{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
   }
   header.on{
    height: 100vh;
      z-index: 100;
   }
   .navbar{
     display: initial;
   }
   #hamburger{
    display: block;
     width: 26px;
     height: 18px;
     position: absolute;
     top: 23px;
     right: 30px;
   }
   .hamburger{
    width: 26px;
    height: 4px; 
    background: white;
    transition: all 0.1s;
    cursor: pointer;
    &::before{
      content: '';
      position: absolute;
      top: 7px;
      width: 26px;
      height: 4px; 
      background: white;
    }
    &::after{
      content: '';
      position: absolute;
      top: 14px;
      width: 26px;
      height: 4px; 
      background: white;
    }
   }
   .hamburger.toggle{
    width: 26px;
    height: 4px; 
    background: white;
    transform: rotate(45deg) translate(5px,6px);
    &::before{
      opacity: 0;
    }
    &::after{
      transform: rotate(-90deg) translate(14px, 0px);
    }
   }
   .main-name h1{
     margin-top: 20px;
   }
   .navlinks{
     position: relative;
     flex-direction: column;
     width: 100%;
     height: 80vh;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     li{
       width: 100%;
       text-align: center;
     }
   }
 }
 @media screen and (max-width: 480px){
  html{
    font-size: 52%;
  }
}
@media screen and (max-width: 420px){
  html{
    font-size: 50%;
  }
}
//Animations
 @keyframes transisin{
   from{
     transform: translateX(100%);
   }
   to{
     transform: translateX(0);
   }
 }